@font-face {
  font-family: pluto-bold;
  src: url('../fonts/pluto-font-family/HvDTrial_Pluto-CondBlack-BF6486959ed9374.otf');
}

@font-face {
  font-family: pluto-light;
  src: url('../fonts/pluto-font-family/HvDTrial_Pluto-CondRegular-BF6486959e6db70.otf');
}

* {
  padding: 0;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Header  Section*/
.restro-name {
  font-family: pluto-bold, sans-serif;
  font-size: 48px;
}

nav {
  background-color: rgb(255, 240, 233);
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 110px;
}

nav button {
  font-family: pluto-light, sans-serif;
  padding: 8px;
  background-color: rgb(255, 240, 233);
  cursor: pointer;
}


.nav-center {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  gap: 24px;
}

.nav-center button {
  border: none;
}

.order-now,
.reserve-now {
  padding-left: 24px;
  padding-right: 24px;
  border: solid rgb(238, 84, 87) 2px;
  border-radius: 24px;
  font-size: 16px;
  font-weight: bold;
  color: rgb(238, 84, 87);
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}

/* Hero Section  */
main {
  height: 100vh;
  background-color: rgb(255, 240, 233);
}

.hero {
  font-family: pluto-light, sans-serif;
  background-color: rgb(255, 240, 233);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 110px;
  height: 90%;
}

.hero-left {
  display: flex;
  flex-direction: column;
  gap: 58px;
  justify-content: center;
}

.tagline {
  color: rgb(238, 84, 87);
  font-family: pluto-bold;
  font-size: 60px;
}

.cta-buttons {
  display: flex;
  gap: 80px;
}

.cta-buttons button {
  font-size: 20px;
  color: white;
  padding: 12px 24px;
  background-color: rgb(238, 84, 87);
  border: 1px solid rgb(238, 84, 87);
}

.mascot-container {
  display: flex;
  align-items: center;
}

.mascot-img-container img {
  width: 90px;
  height: 85px;
  display: block;
  object-fit: contain;
}

.mascot-text {
  font-size: 20px;
}

.hero-right {
  display: flex;
  align-items: center;
}

.hero-image-container img {
  width: 100%;
  max-width: 1500px;
  height: auto;
  display: block;
}

/* Services */
.services-container {
  display: flex;
  justify-content: center;
  margin-bottom: 150px;
  background-color: rgb(255, 240, 233);
}

ul {
  list-style-type: none;
}

.info-container {
  background-color: white;
  width: 70%;
  padding: 18px;
  display: flex;
  justify-content: space-evenly;
  gap: 70px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2); 
  transform: translateY(50%);
}

.info-title {
  font-family: pluto-bold;
  font-size: 30px;
  display: flex;
  width: fit-content;
}

.info-subtitle {
  font-family: pluto-light;
  color: rgb(156, 89, 89);
  font-size: large;
  padding: 12px;
  max-width: 300px;
}

/* Top Dishes */
.top-dishes-container {
  display: flex;
  flex-direction: column;
  padding: 0 110px;
}

.top-dishes-header {
  display: flex;
  justify-content: space-between;
}

.dishes-heading {
  font-family: pluto-bold, sans-serif;
  font-size: 40px;
  padding-left: 22px;
}

.dishes-subtext {
  font-size: 16px;
  font-family: pluto-light;
  color: gray;
  width: 300px;
}

.dishes-container {
  margin: 50px 0 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 64px;
}

.dish-card {
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  width: 350px;
  text-align: center;
}

.dish-card img {
  height: 350px;
  object-fit: contain;
}

.dish-card .dish-name {
  font-family: pluto-light, sans-serif;
  font-size: 24px;
  font-weight: bold;
  padding-top: 24px;
}

.dish-card .order-link {
  color: rgb(238, 84, 87);
  font-size: 18px; 
  font-family: pluto-light, sans-serif;
  cursor: pointer;
}

.primary-color {
  color: rgb(238, 84, 87);
}

/* Animations */
.order-now:hover,
.reserve-now:hover {
  color: white;
  background-color: rgb(238, 84, 87);
  box-shadow: 0 0 10px rgba(238, 84, 87, 0.6);
}

.cta-buttons>button:hover {
  color: rgb(238, 84, 87);
  background-color: white;
}

.underline {
  width: 90px;
}

.underline {
  position: relative;
}

.underline:after {
  content: '';
  position: absolute;
  background-color: rgb(238, 84, 87);
  height: 3px;
  width: 0;
  left: 0;
  bottom: 5px;
  transition: 0.3s;
}

.underline:hover:after {
  width: 100%;
}

/* footer  */
footer {
  background-color: rgb(254,234,223);
  height: fit-content;
  display: flex;
  padding-left: 108px;
  padding-right: 108px;
  padding-top: 64px;
  padding-bottom: 64px;
  justify-content: space-between;
}

.footer-red-font {
  color: rgb(238, 84, 87);
  font-family: pluto-bold;
  font-size: 24px;
}

.footer>div>ul>li {
  cursor: pointer;
  padding: 8px;
  color: gray;
  transition: color 0.3s ease-in-out;
}

.footer>div>ul>li:hover {
  color: black;
}

.footer .footer-section {
  padding: 8px;
}

.copyright {
  color: gray;
}

.company-social-media {
  margin-top: 63px;
}

.sosmed-img {
  height: 32px;
  width: 32px;
  opacity: 0.3;
  margin-left: 8px;
}

.sosmed-img-container {
  display: flex;
  justify-content: space-between;
  width: fit-content;
}